# Global exclude for archived or environment files
exclude: "^(.archive/|.venv/|venv/|build/|dist/)"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        stages: [manual]
        exclude: ^(scripts|dev-scripts)/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix, --exit-zero]
        exclude: ^(scripts|dev-scripts)/
      - id: ruff-format
        exclude: ^(scripts|dev-scripts)/
