# docker-compose.yml
version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant:v1.15.1
    container_name: core_qdrant_db
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - /mnt/vector_db/qdrant-core:/qdrant/storage
    restart: always
