name: CI

on:
    push:
        branches: ["main"]
    pull_request:

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.12"

            - name: Install Poetry
              uses: snok/install-poetry@v1
              with:
                  version: "1.8.3"
                  virtualenvs-create: true
                  virtualenvs-in-project: true

            - name: Install dependencies
              run: poetry install --no-interaction --no-ansi

            - name: Run tests with coverage
              run: |
                  poetry run pytest --cov=. --cov-report=xml:coverage.xml --cov-report=term-missing

            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v5
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
                  files: coverage.xml
                  fail_ci_if_error: true
                  verbose: true
